services:
  api-gateway:
    environment:
      - ITEM_SERVICE_URL=${ITEM_SERVICE_URL}
      - LEAD_SERVICE_URL=${LEAD_SERVICE_URL}
      - ENV=${ENV}
      - PORT_GATEWAY = ${PORT_GATEWAY}
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - ${API_PORTS}
    volumes: 
      - ./config:/app/config
    container_name: api-gateway
  item-service:
    environment:
      - PORT_ITEM=${PORT_ITEM}
      - ENV=${ENV}
    depends_on:
      - postgres
      - api-gateway
    build: 
      context: ./item-service
      dockerfile: Dockerfile
    volumes:
      - ./config:/app/config
    ports:
      - ${ITEM_PORTS}
    container_name: item-service

  postgres:
    image: postgres:13.3
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER:  ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  #lead-service:
   # build:
    #  context: ./lead-service
     # dockerfile: Dockerfile

volumes:
  postgres_data: