services:
  api-gateway:
    depends_on:
    - item-service
    - lead-service
    environment:
      - ITEM_SERVICE_URL=${ITEM_SERVICE_URL}
      - LEAD_SERVICE_URL=${LEAD_SERVICE_URL}
      - ENV=${ENV}
      - PORT_GATEWAY=${PORT_GATEWAY}
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - ${API_PORTS}
    container_name: api-gateway
    volumes:
      - ./config:/app/config
    networks:
      - crm-network

  item-service:
    environment:
      - PORT_ITEM=${PORT_ITEM}
      - ENV=${ENV}
    depends_on:
      postgres:
        condition: service_healthy
    build: 
      context: ./item-service
      dockerfile: Dockerfile
    ports:
      - ${ITEM_PORTS}
    container_name: item-service
    volumes:
      - ./config:/app/config
    networks:
      - crm-network

  postgres:
    image: postgres:13.3
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - crm-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  lead-service:
    container_name: lead-service
    environment:
      - SQLITE_PATH=/app/data/crm.db
      - PORT_LEAD=${PORT_LEAD}
      - ENV=${ENV}
    build: 
      context: ./lead-service
      dockerfile: Dockerfile
    volumes:
      - ./config:/app/config
      - ./data/lead:/app/data
    ports:
      - ${LEAD_PORTS}
    networks:
      - crm-network

  crm-service:
    environment:
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - DEEPSEEK=${DEEPSEEK}
    build:
      context: ./crm-analytics
      dockerfile: Dockerfile
    depends_on:
      - api-gateway
    container_name: crm-analytics
    ports:
      - "9093:9093"
    networks:
      - crm-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.7
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - crm-network

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - crm-network

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
      JVM_OPTS: "-Xms32M -Xmx64M"
    depends_on:
      - kafka
    networks:
      - crm-network


volumes:
  postgres_data:

networks:
  crm-network:
    driver: bridge